*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1,
h2,
h3 {
    text-wrap: balance;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}

:root {
    --white: #ffffff;
    --dark-blue: #242742;
    --dark-gray: #1E1E1E;
    --accent-red: #FF6155;
    --light-red:rgb(252, 219, 219);
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    min-height: 842px;
    height: 100dvh;
}

section.hidden {
    display: none;
}

.form-email {
    background-color: var(--white);
    max-width: 504px;
    margin: 0 auto;
}

.form-email img {
    width: 100%;
    height: 284px;
    border-radius: 0 0 10px 10px;
    object-fit: cover;
    object-position: top;
}

.form {
    width: 100%;
    padding: 40px 24px;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 100%;
    color: var(--dark-blue);
    margin-bottom: 24px;
}

h2 {
    font-weight: 400;
    line-height: 150%;
    color: var(--dark-blue);
    font-size: 1rem;
    margin-bottom: 24px;
    word-wrap: break-word;
    white-space: normal;
}


li {
    position: relative;
    padding-left: 37px;
    margin-bottom: 10px;
}

li::before {
    content: "";
    position: absolute;
    left: 0;
    width: 21px;
    height: 21px;
    background-image: url('./assets/images/icon-list.svg');
}

ul {
    margin-bottom: 40px;
}

label {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 150%;
    color: var(--dark-blue);
}

.label {
    margin-bottom: 8px;
}

.in {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    width: 100%;
    max-width: 376px;
    display: flex;
    justify-content: space-between;
}

#valid-email-required {
    color: var(--accent-red);
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 150%;
    visibility: hidden;
}

input {
    width: 100%;
    max-width: 376px;
    display: block;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: rebeccapurple;
    padding: 16px 24px;
    border-radius: 8px;
    opacity: 0.5;
    border: 1px solid rgba(36, 39, 66, 0.5);
    margin-bottom: 24px;
    cursor: pointer;
    background-color: var(--white);
}


input:focus {
    opacity: 1;
    outline: none;
}

button {
    width: 100%;
    max-width: 376px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    text-align: center;
    color: var(--white);
    background: var(--dark-blue);
    border-radius: 8px;
    padding: 17px;
    cursor: pointer;
    border: none;
}

button:hover {
    background: linear-gradient(180deg, #FF9255 0%, #FF6464 100%);
}

/* Success message */

.success {
    padding: 149px 24px 40px 24px;
    max-width: 504px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.success img {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.success h2 {
    text-align: start;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 100%;
    color: var(--dark-blue);
    margin-bottom: 24px;
}

.success p {
    text-align: start;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: var(--dark-blue);
    max-width: 450px;
    margin-bottom: 263px;
}

.success p span {
    font-weight: 700;
}

/* Responsive design */

@media screen and (min-width: 40rem) {
    body {
        background-color: var(--dark-gray);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        width: 100%;
    }

    .form-email {
        max-width: 928px;
        display: flex;
        flex-direction: row-reverse;
        border-radius: 36px;
    }

    picture {
        margin: 24px 24px 24px 0;
        flex: 1;
    }

    .form-email img {
        min-width: 250px;
        height: 100%;
        border-radius: 10px;
        object-position: right;
    }

    .form {
        max-width: 376px;
        margin: 98px 64px;
        padding: 0;
        flex: 1;
    }

    h1 {
        font-size: 3.5rem;
    }

    .success {
        background-color: var(--white);
        padding: 48px 64px 64px 64px;
        border-radius: 36px;
    }

    .success h2 {
        font-size: 3.5rem;
    }

    .success p {
        margin-bottom: 40px;
    }

}
